
/* poppins-regular - latin */



@font-face {
	font-family: "Poppins";
	src: url('./Poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: "PoppinsLighter";
  font-weight: lighter;
	src: url('./Poppins/Poppins-Light.ttf');
}

.body{
  font-family: 'Poppins';
}

.nav {
 
  position: sticky;
  top:10px;
  
  height: 0;
  background-color: 'red';
  z-index: 1000;
}
.active:hover{
  color: #A02C2C;
  border-bottom: 1.3px solid #A02C2C;
}
.active{
  color: #A02C2C;
  border-bottom: 1.3px solid #A02C2C;
}



.nav .nav-content {
  max-width: 00px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110%;
}


.nav-item {
  display: inline;
  margin-left: 2rem;
  color: white;
}

.nav-item:hover {
  color: #A02C2C;
  cursor: pointer;
}
.ligne_verticale
{
    width:5px;
    border-left:1px solid gray;
    height:7px;
}


.card{
 
  
  background-color: tomato;
}